[user]
        name = Naveen Kumar Sangi
        email = naveenkumarsangi@protonmail.com
        signingkey = 5CAFA85D98C509F0D5E73C4094273FFC25FEF9F2
[core]
        editor = vim
        whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
        excludesfile = ~/.gitignore_global
[push]
        default = matching
[color]
        ui = true
[color "branch"]
        current = yellow bold
        local = green bold
        remote = cyan bold
[color "diff"]
        meta = yellow
        frag = magenta bold
        old = red bold
        new = green bold
        whitespace = red reverse
        commit = yellow bold
[color "status"]
        added = green bold
        changed = yellow bold
        untracked = red bold
[diff]
        tool = vimdiff
[difftool]
        prompt = false
[alias]
        a = add --all

        b = branch
        c = commit -S
        ca = commit -S --amend
        commit = commit -S

        d = diff
        ds = diff --staged
        dc = diff --cached

        f = fetch
        fo = fetch origin
        pom = pull origin master
        fpo = push --force origin HEAD

        l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
        lg = log --oneline --graph --decorate --all --abbrev-commit
        la = "!git config -l | grep alias | cut -c 7-"
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

        co = checkout
        cob = checkout -b

        r = reset
        hr = reset --hard HEAD

        rb = rebase
        rba = rebase --abort
        rbc = rebase --continue
        rbm = rebase --interactive master

        s = status
        cge = config --global --edit

        sd = stash drop
        ss = stash save
        sa = stash apply
        sc = stash clear
        sl = stash list

        rpo = remote prune origin
        rao = remote add origin

        open = !sh -c 'open $(git remote get-url origin)'
        contrib = shortlog --summary --numbered --no-merges
        undo = reset HEAD~1 --mixed
        save = "!f() { git add -A; git commit -v -m 'SAVEPOINT'; }; f"
        sortdiff = !sh -c 'git diff "$@" | grep "^[+-]" | sort --key=1.2 | uniq -u -s1'
        cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"

        fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
        fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

        change = codereview change
        gofmt = codereview gofmt
        mail = codereview mail
        pending = codereview pending
        submit = codereview submit
        sync = codereview sync
        change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
[merge]
        tool = code
[commit]
        gpgsign = true
[advice]
        statusHints = false
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
[gitlab]
        host = https://gitlab.com
        user = nkprince007
        token = oGsAadDuGCo8xnwYB7BQ
[http]
[https]
[http]
        cookiefile = $HOME/.gitcookies
[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHighlight = green bold 22
[branch]
	sort = -authordate
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[url "git@gitlab.viperdev.io.com:"]
	insteadOf = https://gitlab.viperdev.io/

[filter "gitignore"]
	clean = "sed '/#gitignore-please$/'d"
	smudge = cat
